/* General styles */
html, body {
	letter-spacing: 0.05em;
    color: #333;
	background: url('img/bg.jpg') repeat-x #069;
}

body {
    font-family : Arial, Helvetica, Sans, FreeSans, 'Nimbus Sans L', Garuda, sans-serif; /* many fonts to accomodate Linux users without Arial */
	font-size: 62.5%; /* Resets 1em to 10px */
}

h1, h2, h3, h4, h5, h6 {
    color: #069;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.4em;
    border-bottom: 1px dotted #6bb4e0;
    margin-bottom: 10px;
}

h3 {
    font-size: 2.0em;
}

h4 {
    font-size: 1.8em;
}

h5, h6 {
    font-size: 1.6em;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #069;
}

a:hover {
    color: #900;
}

em {
    font-style: italic;
}

p {
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Layout */
#wrapper {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    box-shadow: 0 -3px 10px #333;
    -moz-box-shadow: 0 -3px 10px #333;
    -webkit-box-shadow: 0 -3px 10px #333;
}

#header {
    height: 150px;
    overflow: hidden;
}

#header .logo {
    float: left;
}

#header .banner {
    float: right;
}

#nav {
    height: 35px;
    background: url('../img/bgmenu.png') repeat-x;
    background-position: 0 0;
    clear: both;
}

    #nav ul, .nav ul {
        float: left;
    }

    #nav li, .nav li {
        float: left;
        padding: 0 10px;
    }

        #nav li.current-menu-item, #nav li:hover {
            background: url('../img/bgmenu.png') repeat-x 0 -35px;
        }

    #nav li a, .nav li a {
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 1px #6a6a6a;
        font-size: 1.8em;
        line-height: 33px;
    }

#content {
    padding: 10px;
    position: relative;
}

    #content h3 {
        text-transform: none;
    }

    #content h4 {
        color: #999;
        font-size: 1.6em;
        font-style: italic;
        text-transform: none;
    }

#main {
    float: left;
    width: 700px;
    min-height: 300px;
    padding-bottom: 20px;
}

    #main .postthumb {
        float: left;
        border-right: 10px solid white;
        margin-top : 4px;
    }

    #main .article h3 {
        color: #333;
        font-size: 1.2em;
        margin-bottom: 20px;
        letter-spacing: 0.2em;
    }

#aside {
    float: right;
    width: 220px;
    margin-top: -65px;
}

    #aside h2 {
        padding-top: 4px;
    }

    #aside h3 {
        font-size: 1.3em;
        margin-bottom: 5px;
    }

    #aside h3 a {
        font-size: 1.0em;
    }

    #aside .top {
        height: 16px;
        background: url('../img/sidebar_top.png');
    }

    #aside .content {
        padding: 10px;
        background: white;
    }

    #aside .box {
        margin-bottom: 10px;
    }

    #aside #searchform label {
        display: none;
    }

    #aside a {
        font-size: 1.3em;
    }

    #aside ul {
        margin-left: 14px;
    }

    #aside li {
        list-style-type: disc;
        margin: 3px 0;
    }

/* Widgets */
#aside .niceslide .pagination li {
    margin: 0 3px;
    list-style-type: none;
}

#aside .widget_twitter .entry-content {
    font-size: 1.2em;
}

#aside .widget_twitter .entry-content a {
    font-size: 1.0em !important;
}

#aside .widget_twitter li {
    margin: 10px 0;
}

#aside .widget_twitter .entry-meta {
    display: none;
}

.widget_rrm_recent_posts li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.widget_rrm_recent_posts p {
    margin: 10px 0;
}

#aside #s {
    height: 16px;
    width: 130px;
    margin-right: 5px;
    font-size: 1.2em;
}

#slmenuwidget {
}

    #slmenuwidget h3 {
        display: none;
    }

    #slmenuwidget ul {
        margin: 0;
    }

    #slmenuwidget li {
        list-style-type: none;
        padding: 7px 0;
        margin: 0;
        width: 200px;
        border-top: 1px solid #ccc;
    }

    #slmenuwidget li ul {
        margin-left: 6px;
    }

    #slmenuwidget li ul li {
        border: 0;
    }

    #slmenuwidget li ul li:last-child {
        padding-bottom: 0;
    }

    #slmenuwidget a {
        font-size: 1.4em;

    }

#footer {
    clear: both;
    background: url('../img/bgfooter.png') repeat-x #004a6f;
    padding: 0 0 20px 0;
}

    #footer .nav-search {
        margin-bottom: 20px;
        overflow: hidden;
    }

    #footer .searchform {
        float: right;
        height: 35px;
    }

    #footer .searchform div {
        line-height: 35px;
        margin-right: 45px;
    }

    #footer .logo {
        display: block;
        margin: 0 auto;
    }